name: Run Docker Compose Tests

on:
  push:
    branches:
      - main

jobs:
  docker-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker
        uses: docker/setup-buildx-action@v2

      - name: Run Docker Compose
        id: docker
        run: docker-compose up --build --abort-on-container-exit
        continue-on-error: true  # ממשיכים גם אם exit 1

      - name: Check exit code
        if: ${{ failure() }}
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp.gmail.com
          server_port: 465
          username: ${{ secrets.SMTP_USER }}
          password: ${{ secrets.SMTP_PASSWORD }}
          subject: "Workflow Failed"
          body: "Docker Compose test failed! Check GitHub Actions logs."
          to: rosenbergruty@gmail.com
          from: ${{ secrets.SMTP_USER }}
          secure: true